.contents_inner {
    display: flex;
    justify-content: space-between;
    max-width: 1030px;
    margin: 40px auto 80px;
}

.contents_main {
    width: 720px;
}
.article_list {
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: 900;
    display: inline-block;
    border-bottom: 2px solid;
    padding: 2px 12px;
}
.article_card {
    display: flex;
    margin-top: 32px;
    padding: 16px;
    gap: 32px;
    border-radius: 32px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #e0e0e0, -12px -12px 24px #f2f2f2;
    box-shadow: 12px 12px 24px #b3b3b3, -12px -12px 24px #f2f2f2;
    transition: 0.5s;
}
.article_card img {
    width: 30%;
}
.article_card:hover {
    -webkit-box-shadow: 8px 8px 8px #b3b3b3, -8px -8px 8px #f2f2f2;
    box-shadow: 8px 8px 8px #b3b3b3, -8px -8px 8px #f2f2f2;
}
.article_card_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
}
.thumbnail {
    border-radius: 27px;
    aspect-ratio: 8/5;
    height: auto;
}
.article_title {
    margin: 8px 0;
}
.category {
    padding: 4px 8px;
    border: 1px solid;
    font-size: 13px;
    color: #7b7b7b;
    border-radius: 4px;
}
.flex_center {
    display: flex;
    align-items: center;
    gap: 4px;
}
.tag {
    margin-left: 12px;
    color: #7b7b7b;
}
.mt_12 {
    margin-top: 12px;
}

@media screen and (max-width: 1040px) {
    .contents_main {
        /* max-width: 720px; */
        width: 80%;
        /* margin: auto 24px; */
    }
    .article_card img {
        width: 100%;
    }
    .article_card_right {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .article_card {
        flex-direction: column;
    }
    .thumbnail {
        width: 100%;
    }
    .sp_colum {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

.flex_center {
    display: flex;
    align-items: center;
    gap: 1px;
}