.footer_inner {
    max-width: 1130px;
    margin: 0 auto;
    color: white;
    width: 90%;
    height: 240px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.footer_title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
    padding-top: 40px;
}
.copyright {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 1.75em;
}
.footer_link {
    color: white;
    font-size: 14px;
}

.flex_center {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    height: calc(100% - 40px);
}

@media screen and (max-width: 800px) {
    .flex_center {
        flex-direction: column;
        justify-content: flex-end;
    }
}