/* 共通のスタイリングCSS */
.flex_center {
    display: flex;
    align-items: center;
    gap: 1px;
}
.flex_wrap {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}

/* 通常のCSS */
.rightbar {
    position: sticky;
    top: 0;
}
.rightbar_inner {
    width: 280px;
    margin: 0 auto;
    padding: 40px 0;
}
.my_card {
    border-radius: 32px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #b3b3b3, -12px -12px 24px #f2f2f2;
    box-shadow: 12px 12px 24px #b3b3b3, -12px -12px 24px #f2f2f2;
    max-width: 280px;
    height: 340px;
    padding: 16px;
    margin: 0 auto;
}
.my_picture {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my_picture img {
    border-radius: 24px;
}
.my_name {
    font-size: 20px;
    text-align: center;
}
.my_description {
    font-size: 14px;
    padding: 12px;
}
.sns_card {
    text-align: center;
}
.sns_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 12px;
}
.category_area {
    margin-top: 40px;
}
.category_title {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: inset 4px 4px 8px #b3b3b3,
            inset -4px -4px 8px #f0f0f0;
    padding: 8px 16px;
    font-weight: 600;
}
.category_name {
    padding: 8px 0 8px 12px;
    border-radius: 12px;
    -webkit-box-shadow: 8px 8px 8px #b3b3b3, -8px -8px 8px #f2f2f2;
    box-shadow: 8px 8px 8px #b3b3b3, -8px -8px 8px #f2f2f2;
    width: 90%;
    margin: 12px auto;
    transition: .5s;
}
.category_name:hover {
    box-shadow: 8px 8px 8px #b3b3b3, -8px -8px 8px #f2f2f2;
}
.tag:hover {
    transition: .3s;
    transform: translateY(-3px);
}
.tag_area {
    margin-top: 40px;
}
.tag_title {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: inset 4px 4px 8px #b3b3b3,
            inset -4px -4px 8px #f0f0f0;
    padding: 8px 16px;
    font-weight: 600;
}
.tag_name {
    padding: 12px 0 4px 8px;
    border-bottom: 1px solid;
    width: 90%;
    margin: 0 auto;
}
.tag_box {
    padding: 16px;
    gap: 8px;
}
.tag_svg {
    width: 1.1rem;
}
@media screen and (max-width: 1040px) {
    .rightbar_inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        grid-column-gap: 20px;
    }
}
@media screen and (max-width: 800px) {
    .rightbar_inner {
        display: block;
    }
}

/* 状態に関する個別で与えるものではないCSS */
.sticky {
    position: fixed;
    top: 0;
    left: calc(50% + 285px);
}
.under_sticky {
    position: fixed;
    bottom: 0;
    height: auto;
    left: calc(50% + 285px);
}
.stop {
    position: absolute;
}